*{padding:0;
  margin: 0; /*to remove autoset padding and margin*/
  font-family: "Nunito", sans-serif;}


                        /*Header Content Section*/

.header{width:100%;
        background-color: #a6d0e4;} 

.logo {width: 20%;}

.navbar{display:flex;
        /* padding: 2% 6%; */
        min-width: 5vw; /*min width*/
        justify-content:space-between;
        align-items:center;}

.navbar ul li{list-style:none;
              display:inline-block;
              padding: 8px 10px;
              position:relative;}

.navbar ul li a{color:black;
                text-decoration: none;
                font-size: 15px;}

.navbar ul li::after{ content:"";
                     width:0%;/*So that line is only seen after transition*/
                     height:2px;
                     background: #5C6C7C;
                     display: block;/*Showcases the line on each block*/
                     transition:0.5s;}/*Creating transition so that the style is hidden*/

.navbar ul li:hover::after{width:100%;/*allows line transition to be seen at 100 percent width*/}

.button-nav{background-color:#5C747D;
            border:none;
            width:90px;
            border-radius: 10px;
            padding: 10px;
            /* margin-left:10px;# */
            font-weight: bolder;}

.button-nav a{color: black;
              text-decoration: none;}
.button-nav a:hover{background-color:#5C6C7C;} /*hover colour for donate button*/

.image-text img{width:100%;
                min-height:50vh;
                max-height:60vh;
                object-fit: cover;
                filter: brightness(50%);} /*Reduce brightness of image*/

.image-text h1{width:100%;
            position:absolute;
            top:50%;
            left:50%;
            font-weight: bolder;
            color:#a6d0e4;
            transform: translate(-50%,50%);
            text-align:center;
            border:1px solid #5C6C7C;}

                       /*HOMEPAGE: Main Content Section*/

                       /*About us*/

.about-column{width:70%;/*takes up 70percent of the screen*/
          margin-top:2%;
          text-align:center;/*align text to the center-added*/
          padding: 30px; /*Causes there to be space from the top*/
          background-color: whitesmoke;
          margin-bottom: 5%;
          margin-left:5%;
          }

.about-us h1{text-align: center;
             padding: 10px;
             line-height:22px;}          

.about-us p{padding: 10px;
            text-align:center;
            line-height:22px;
            font-weight: 300;/*Reduces colour of font, making it less dark*/}

.img-2{float:left;
        width:30%;
        filter: brightness(50%);}

.about-row{display:flex;
    margin-top:5%;
    justify-content: space-between;}


.about-column:hover{box-shadow:0px 0px 15px 0px #5C747D;}

/*Get Involved*/

.get-column{
    width:70%;/*takes up 70percent of the screen*/
    margin-top:5%;
    text-align:center;/*align text to the center-added*/
    padding: 30px; /*Causes there to be space from the top*/
    background-color: whitesmoke;
    margin-bottom: 5%;
    margin-left:10%;}

.get-involved h1{text-align: center;
       padding: 10px;
       line-height:22px;}          

.get-involved p{padding: 10px;
      text-align:center;
      line-height:22px;
      font-weight: 300;/*Reduces colour of font, making it less dark*/}

.img-3{float:right;
  width:30%;
  filter: brightness(50%);}

.get-row{display:flex;
margin-top:5%;
justify-content: space-between;}/*Creates a row for the content*/


               /*Footer Section Content*/
        
.footer{background-color:#a6d0e4;
        width: 100%; /*So that it doesn't fill the whole page*/
        padding:30px 0;}

.footer ul{list-style-type: none;}

.footer-row{display:flex;
            margin-top:2%;
            justify-content: space-between;}
                
.footer-column{width:70%;
               text-align: center;
               padding: 0px 5px;
               justify-content: center;}         
   
.social-icons {display:flex;
               position:relative;
               margin-left:60%;}/*move icons to the center of page*/          

.social-icons a{/*link styling*/
            text-decoration: none;
            padding:  8px;
            color: black;
            margin: 10px;
            border-radius: 50%;}
        
.social-icons a:hover{/*hove effect on background for icons*/
                background-color: #111;
                transition: 0.5s;
            }

.social-icons a:hover i{ /*hover effect on the icons*/
                color: white;
                transition: 0.5s;}               
